.demo {
    padding: 1px 20px 5px 20px;
    -webkit-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
}

h1 {
    color: black;
    text-align: left;
    padding: 0px;
}

p {
    font-family: verdana;
    font-size: 20px;
}

.salvar{

}