{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header" style="">
    <div class="container">
        <div class="row">
            <h1>Alterar Senha</h1>
            <div class="col-sm-12">
                <div class="row" style="padding-top:50px;">
                    <form method="post" action="/perfil/alterarSenha">

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}