{% extends "bootstrap/base.html" %}

{% block title %}Talks{% endblock %}
{% block head %}
{{ super() }}
    <script rel="stylesheet" type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>

{% endblock %}

{% block styles %}
{{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilo.css') }}">
{% endblock %}
{% block navbar %}
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="nav navbar-nav navbar-left">
           <img src="{{ url_for('static', filename='imagens/time.png') }}" width="48" height="48">
            <label>Controle Horas</label>
        </div>
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav">
            {% if ((current_user.is_authenticated) and (current_user.is_admin)) %}
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cadastro
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    {% if current_user.is_admin%}
                        <li><a href="{{ url_for('projetos.criarProjetos') }}">Projetos</a></li>
                        <li><a href="{{ url_for('cliente.criarCliente') }}">Clientes</a></li>
                        <li><a href="{{ url_for('funcionario.criarFuncionario') }}">Funcionarios</a></li>
                        <li><a href="{{ url_for('vinculo.criarVinculo') }}">Funcionarios X Projetos</a></li>
                        <li><a href="{{ url_for('atividade.criarAtividade') }}">Atividades</a></li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}
            {% if (current_user.is_authenticated)%}
            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Lançamentos
                <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{{ url_for('lancamentos.carregarLancamentos') }}">Horas Trabalhadas</a></li>
            </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Relatórios
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('relatorio.minhashoras') }}">Minhas horas trabalhadas</a></li>
                    <li><a href="{{ url_for('relatorio.meusprojetos') }}">Horas X Projeto</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Suporte
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('perfil.alterarSenha') }}">Alterar Senha</a></li>
                    <li><a href="{{ url_for('perfil.carregarPerfil') }}">Perfil</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                </ul>
            </li>
            {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if not current_user.is_authenticated %}
            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
            {% else %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="{{ current_user.gravatar(size=18) }}">
                    {{ current_user.username }}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                </ul>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="demo">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
        {% block page_content %}{% endblock %}
    </div>
</div>
{% endblock %}
{% block scripts %}

{{ super() }}

{% endblock %}